<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="shortcut icon" href="{{ STATIC_URL }}/logo_face_favicon.png" />
<link rel="stylesheet" href="{{ STATIC_URL }}/stylesheet2.css" />
<style type="text/css">
#box a:hover
{
	color: #c50a00;
}
a {
   text-decoration: none;
   color: black;
   font-weight: bold;
   font-size: 24px;
}
a:hover {
   color: #c50a00;
}
#box a
{
	text-decoration: none;
	color:black;
}
#box
{
	background-color: white;
	height: 50px; 
	font-size:40px;
	text-align: center; 
	text-shadow: 2px 2px 2px #acacac;
	margin-bottom: 30px;
	width: 350px;
}
#bar 
{
	top: -5px;
}

</style>
</head>
<body>

<div id="bar">
	<center>
	<div id="bar-inner">
    <img src="{{ STATIC_URL }}/banner_red.png" />
    </div>
    </center>
</div>

<center>
<div id="content" style="top:60px;">

<center>
	<h1 style="font-size: 3em;" />404: Page Not Found!</h1>
	<iframe width="480" height="360" src="http://www.youtube.com/embed/s-QpQvjZVKQ" frameborder="0" allowfullscreen></iframe>
   <p>
   <a href="http://studygasm.com">Back to Studygasm!</a>
</center>

</body>
</html>
