<html>
<head>
<title>Studygasm</title>

<link rel="shortcut icon" href="{{ STATIC_URL }}/logo_face_favicon.png" />
<link rel="stylesheet" href="{{ STATIC_URL }}/stylesheet.css">

</head>

<body>

<div class="splash">
<img src="{{ STATIC_URL }}/studygasmfront.png">
<center>

<div class="description"><span style="font-size: 28px">[<strong>stuhd</strong>-ee-gaz-<em>uh</em>'m]</span>
  <p>A kick ass place for students to share information and post questions anonymously to your entire class.</p>
  <p>We believe that a comfortable space free of professors provides a team atmosphere for students to get through their quarter or semester together.</p>
  <p>Earn mojo, have studygasms, and get hooked up with cool stuff come finals week.</p>
</div>

<div class="connect">

<table>
<tr><td>
<a href="/login/facebook"><img src="{{ STATIC_URL }}/facebookconnect.png"></a>
</td><td>
<a href="https://twitter.com/studygasm/" target="_blank"><img src="{{ STATIC_URL }}/twitterfollow.png"></a>
</td></tr>
</table>
</div>

</center>
</div>

</body>

</html>
