<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <title>Studygasm</title>
<script type="text/javascript" src="{{ STATIC_URL }}/jquery.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="shortcut icon" href="{{ STATIC_URL }}/logo_face_favicon.png" />
<link rel="stylesheet" href="{{ STATIC_URL }}/stylesheet2.css" />
<script type="text/javascript" src="{{ STATIC_URL }}/thickbox.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}/thickbox.css" type="text/css" media="screen" />

<style type="text/css">

a {
   text-decoration: none;
}

#box a {
	color: black;
	text-transform:uppercase;
	font-size: 24px;	
	text-decoration: none;
}

#box a:hover {
	color: #c50a00;	
}
</style>

</head>
<body>

<div id="bar" style="position: absolute; top: 0px; left: 0px;">
	<center>
	<div id="bar-inner">
    <img src="{{ STATIC_URL }}/banner_red.png" />
    </div>
    </center>
</div>

<center>
<div id="content" style="position: relative; left: -70px; top: 100px">

<center>

<img src="{{ STATIC_URL }}/my-classes-08.png" style="left: 70px; position: relative; top: 65px; height: 58px">
<table style="margin-top: 50px;">
<tr>
   <td width="150px" rowspan="3"><img src="{{ STATIC_URL }}/logoface.png"></td>
<td width="300px" height="60">
	<div id="box" style="text-align: center"><a href="/">Hist 217</a></div>
</td>
</tr>
<tr><td height="60">	
    <div id="box" style="text-align: center"><a href="/">Class 312</a></div>
</td></tr>
<tr><td height="60" style="text-align: center">	
    <div id="box"><a href="/">Class 123</a></div>
</td></tr>

   <div id="whyanonymous" style="display:none">
      <p>As you Boss you’ll...</p><ul style="padding: 0 0 0 20px">
         <li>establish the content of your course’s page</li>
         <li>engage your classmates in discussion regularly</li>
         <li>maintain a kick-ass learning environment</li>
         <li>be the core to an online collaborative community!</li>
         <li>and earn mojo for your resume with a Studygasm recommendation at the end of the course!</li></ul>
         <p>Interested? Email us at studygasm@gmail.com</p>
      <p style="text-align:center"><input type="submit" id="Login" value="&nbsp;&nbsp;Close&nbsp;&nbsp;" onclick="tb_remove()" /></p>
   </div>

<tr><td>
</td><td><a href="#TB_inline?height=200&width=300&inlineId=whyanonymous&modal=true" class="thickbox">
<div id="box" style="position: relative; top: 50px;"><span style="font-weight: bold; font-size: 24px; color: #c50a00">Don't see your class?</span></div>
<div style="z-index: 999; position: relative; left: 275px; top: -50px">
<img src="{{ STATIC_URL }}/boss-sticker.png" />
</div></a>

</td></tr>
</table>
</center>

</div>
</center>

</body>
</html>
